.cf-color{
    background-color: purple;
    border: 2px dashed white;
}
.title{
    text-align: center;
}
.blog h4{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: chocolate;
}
h2{
    color: fuchsia;
}
small{
    display: block;
}